.all-products-section {
    table {
        width: 70%;
        box-sizing: border-box;
        border-collapse: collapse;
        margin: 50px auto;

        tr {
            border-bottom: 1px solid #aaaaaa6e !important;
            text-align: center;
        }

        td {
            padding: 10px 0 0 0;
            position: relative;

            .delete {
                height: 25px;
                width: auto;
                transition: all .25s;

                &:hover {
                    color: var(--primary-color);
                    transform: translateY(-2px);
                }
            }
        }

        td:after {
            content: '';
            height: 50%;
            width: 1px;

            position: absolute;
            right: 0;
            top: 30%;

            background-color: #e4e4e4e8;
        }


        th {
            padding: 20px 0;
            color: var(--secondary-text);
        }

        .image {
            width: 5.5rem;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
      
            img {
              object-fit: cover;
              object-position: top;
              width: 2.3rem;
              height: 2.3rem;
              border-radius: 1px;
            }
          }

        .delete-btn{
            border: none;
            border-radius: 4px;
            padding: 8px 16px;
            color: white;
            background-color: rgba(255, 0, 0, 0.678);
            transition: all .25s;
            margin-left: 15px;
            cursor: pointer;
            &:hover{
                background-color: red;
            }
        }
        
        .update-btn{
            border: none;
            border-radius: 4px;
            padding: 8px 16px;
            color: white;
            background-color: rgba(74, 77, 252, 0.932);
            transition: all .25s;
            cursor: pointer;
            &:hover{
                background-color: rgba(0, 4, 255, 0.932);
            }
        }

    }
}