.checkout {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 50px auto;

    .info {
        input {
            display: block;
            width: 60em;
            padding: 10px 20px;
            margin: 12px 0;
            border-radius: 3px;
            border: 1px solid #aaaaaa86;

            &:focus {
                outline: none;
            }
        }
    }

    .subtotal {
        width: 27%;
        min-height: 200px;
        padding: 20px;
        margin: 35px 0 0 0;
        border-radius: 5px;
        background: var(--heading-text-color);
        p{
            color: white;
            // font-weight: 500;
            position: relative;
            padding: 10px 0;
            span{
                padding: 10px 0;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        p:nth-of-type(4){
            border-top: 1px solid #aaa;
            span{
                font-weight: 600;
                font-size: 20px;
            }
        }

        button {
            width: 100%;
            margin: 20px 0;
            padding: 8px 20px;
            background-color: #fff;
            border: 1px solid var(--heading-text-color);
            border-radius: 3px;
            display: block;
            color: var(--heading-text-color);
            font-weight: 500;
            transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover {
                transform: scale(1.03);
            }
        }
    }
}