.cart-section {
    width: 90%;
    margin: 100px auto;
    position: relative;

    table {
        width: 70%;
        box-sizing: border-box;
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid #aaaaaa6e !important;
            text-align: center;
        }

        td {
            padding: 10px 0 0 0;
            position: relative;

            .delete {
                height: 25px;
                width: auto;
                transition: all .25s;

                &:hover {
                    color: var(--primary-color);
                    transform: translateY(-2px);
                }
            }
        }

        td:after {
            content: '';
            height: 50%;
            width: 1px;

            position: absolute;
            right: 0;
            top: 30%;

            background-color: #e4e4e4e8;
        }


        th {
            padding: 20px 0;
        }

        .image {
            width: 70px;
            height: auto;
            overflow: hidden;
        }


    }

    .subtotal {
        padding: 0 20px;
        position: absolute;
        top: 17px;
        right: 0;

        h3 {
            font-weight: 400;
            span {
                margin: 0 0 0 50px;
                text-decoration: underline;
                font-weight: 600;
            }
        }

        p {
            padding: 8px 0 0 0;
        }
        a {
            margin: 20px 0;
            padding: 8px 20px;
            background-color: var(--heading-text-color);
            border: 1px solid var(--heading-text-color);
            border-radius: 3px;
            display: block;
            color: white;
            font-weight: 500;
            transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover {
                transform: scale(1.03);
            }
        }
    }
}
.shop-btn {
    width: 15%;
    text-align: center;
    margin: 20px auto;
    padding: 8px 20px;
    background-color: var(--heading-text-color);
    border: 1px solid var(--heading-text-color);    
    border-radius: 3px;
    display: block;
    color: white;
    font-weight: 500;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        transform: scale(1.03);
    }
}
